# R version: >= 4.2

# Required CRAN packages
tidyverse
dplyr
plyr
tidyr
vegan
data.table
ggplot2
ape
readxl
xlsx
stringr
grid
magrittr
paletteer
RColorBrewer
zoo

microeco
# Packages required for microeco see: https://chiliubio.github.io/microeco_tutorial/intro.html#dependence

# Bioconductor package
BiocManager
dada2
microbiome
Biostrings
shortRead
phyloseq


